.header {
  height: 104px;
  background-color: #00316B;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}