.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  height: 290px;
  background-color: #fff;
  width: calc((100% - 3 * 30px) / 4);
  border-radius: 5px;
  &:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}

.top {
  flex: 1 1 100%;
}

.title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 11px;
}

.subtitle {
  font-size: 12px;
  font-weight: 400;
}

.bottom {
  flex: 0 0 auto;
}

.btn {
  margin-bottom: 10px;
}

.bottomText {
  font-size: 12px;
  display: block;
}